{
    "root": true,
    "parser": "@babel/eslint-parser",
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "requireConfigFile": false,
        "babelOptions": {
            "plugins": ["@babel/plugin-syntax-import-assertions"]
        }
    },
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "plugins": ["import"],
    "rules": {
        "import/no-unresolved": 2,
        "import/named": 2,
        "import/default": 2,
        "import/export": 2
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["#api", "./lib/api"],
                    ["#configs", "./lib/configs"],
                    ["#constants", "./lib/constants"],
                    ["#domain-collectors", "./lib/domain-collectors"],
                    ["#infrastructure", "./lib/infrastructure"],
                    ["#domain-model", "./lib/domain-model"],
                    ["#use-cases", "./lib/use-cases"],
                    ["#utils", "./lib/utils"],
                    ["#workers", "./lib/workers"],
                    ["#tests", "./tests"]
                ],
                "extensions": [".js", ".cjs"]
            }
        }
    }
}
