{
    "root": true,
    "parser": "@babel/eslint-parser",
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "plugins": ["import", "ava"],
    "rules": {
        "import/no-unresolved": 2,
        "import/named": 2,
        "import/default": 2,
        "import/export": 2
    }
}
