node_modules/
npm-debug.log
coverage/*
uploads/*
logs/*
geojsonData/
bin/generator/tmp
storage/*
uploads/*
coverage
**/.DS_Store
certs/
.env*
dist/
dist-tests/
logs/

!**/_example/*
!**/*.example
!.env.defaults
!docker/ci/**
